
<div class="nav">
    <!-- 25% -->
    <ul>
        <li><i class="fa fa-user-circle" aria-hidden="true"></i><a href="@Url.Action("UserDashBoard","Home")">Thông tin tài khoản</a></li>
        <li><i class="fa fa-history"></i><a href="@Url.Action("HistoryCart","Home")">Lịch sử mua hàng</a></li>
        <li><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><a href="@Url.Action("ShoppingCart","Home")">Giỏ hàng</a></li>
        <li><i class="fa fa-key"></i><a href="@Url.Action("ChangePass","Home")">Đổi mật khẩu</a></li>
        @if (Request.Cookies["User"].Value.ToString().Equals("nhattan@gmail.com"))
        {
            <li><i class="fas fa-file-invoice"></i><a href="@Url.Action("BillManager","Home")">Quản lý hoá đơn</a></li>
            <li><i class="fa fa-users-cog"></i><a href="@Url.Action("UserManager","Home")">Quản lý người dùng</a></li>
            <li><i class="fab fa-product-hunt"></i><a href="@Url.Action("productManager", "Home")">Quản lý sản phẩm</a></li>
        }
    </ul>
</div>