@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="user container flex">
    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
    <div class="content">
        <!-- 75% -->
        <h3>Thông tin tài khoản</h3>
        <form action="">
            <div class="inputBox">
                <label for="">Họ tên</label>
                <input type="text" name="ten" value="@ViewBag.User.Name" autocomplete="none">
            </div>
            <div class="inputBox">
                <label for="">Số điện thoại</label>
                <input type="text" name="sdt" value="@ViewBag.User.Phone">
            </div>
            <div class="inputBox">
                <label for="">Email</label>
                <input type="text" name="email" value="@ViewBag.User.Email">
            </div>
            <div class="inputBox">
                <label for="">Địa chỉ</label>
                <input type="text" name="address" value="@ViewBag.User.Address" />
            </div>
            <button type="submit">Cập nhật</button>
        </form>
    </div>
</section>

