@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="user container flex">
    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
    <div class="content">
        <!-- 75% -->
        <h3>Thông tin tài khoản</h3>
        @using(Html.BeginForm("Update","Home",FormMethod.Post))
        { 
            <div class="inputBox">
                <label for="">Họ tên</label>
                <input type="text" name="Name" value="@ViewBag.User.Name" autocomplete="none">
            </div>
            <div class="inputBox">
                <label for="">Số điện thoại</label>
                <input type="text" name="Phone" value="@ViewBag.User.Phone" maxlength="10">
            </div>
            <div class="inputBox">
                <label for="">Email</label>
                <input type="text" name="Email" value="@ViewBag.User.Email" disabled="disabled">
            </div>
            <div class="inputBox">
                <label for="">Địa chỉ</label>
                <input type="text" name="Address" value="@ViewBag.User.Address" />
            </div>
            <button type="submit">Cập nhật</button>
        }
    </div>
</section>

